body{
    margin: 0px;
    padding: 0px;
    background-color: #c1cf91;
}

main{
    
    border-radius: 10%;
    margin-left: 518px;
    margin-top: 10vh; 
    width: 450px;
    height: 80vh;
    background-color:#c1c1c1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #b3b3b3;
    border-radius: 10%;
    box-shadow: 
       3px 3px 0 rgba(73, 80, 87, 0.8), 
       inset -5px -5px 10px #131313;
    transform: translate(2px, 2px);
    transition: 0.2s;
}

.visor{
    margin-right: 45px;
    width: 300px;
    height: 100px;
    background-color: #767987;
    border: 2px solid #000;
    display: flex;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 75);
}


.ce {
    margin-left: 10px;
    width: 65px;
    height: 50px;
    font-size:large;
    font-weight: bold;
    color: #ffffff;

    background-color: #d03a3a;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 
       1px 1px 0 rgba(73, 80, 87, 0.8), 
       inset -2px -2px 5px #434343;
    transform: translate(2px, 2px);
}

.c{
    margin-left:0px;
    width: 65px;
    height: 50px;
    font-size:large;
    font-weight: bold;
    color: #ffffff;

    background-color: #d03a3a;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 
       1px 1px 0 rgba(73, 80, 87, 0.8), 
       inset -2px -2px 5px #434343;
    transform: translate(2px, 2px);
}

.button{
    margin-left: 10px;
    margin-top: 5px;
    width: 65px;
    height: 50px;
    font-size:large;
    font-weight: bold;
    color: #ffffff;

    background-color: #495057;
    border-radius: 10%;   
    cursor: pointer;
    box-shadow: 
        1px 1px 0 rgba(73, 80, 87, 0.8), 
        inset -2px -2px 5px #1e1e1e;
    transform: translate(2px, 2px);
}

.zero{
    margin-left: 0px;
    width: 145px;
    height: 50px;
    font-size:large;
    font-weight: bold;
    color: #ffffff;
    background-color: #495057;
    border-radius: 10%;   
    cursor: pointer;
    box-shadow: 
        1px 1px 0 rgba(73, 80, 87, 0.8), 
        inset -2px -2px 5px #1e1e1e;
    transform: translate(2px, 2px);

}

.operadores{
    margin-left: 10px;
    margin-top: 5px;
    width: 65px;
    height: 50px;
    font-size:large;
    font-weight: bold;
    color: #ffffff;

    background-color: #c2b87f;
    border-radius: 10%;   
    cursor: pointer;
    box-shadow: 
        1px 1px 0 rgba(73, 80, 87, 0.8), 
        inset -2px -2px 5px #1e1e1e;
    transform: translate(2px, 2px);

}

.plus{
    margin-left: -110px;
    margin-top: 200px;
    width: 65px;
    height: 100px;
    font-size:large;
    font-weight: bold;
    color: #ffffff;

    background-color: #c2b87f;
    border-radius: 10%;   
    cursor: pointer;
    box-shadow: 
        1px 1px 0 rgba(73, 80, 87, 0.8), 
        inset -2px -2px 5px #1e1e1e;
    transform: translate(2px, 2px);
}

.deslocFline{
    margin-left: 0px;
    width: 65px;
    height: 50px;
    font-size:large;
    font-weight: bold;
    color: #ffffff;
    background-color: #495057;
    border-radius: 10%;   
    cursor: pointer;
    box-shadow: 
        1px 1px 0 rgba(73, 80, 87, 0.8), 
        inset -2px -2px 5px #1e1e1e;
    transform: translate(2px, 2px);
}

