body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

iframe{
    border-radius: 20px;
    width: 50vw;
    height: 90vh;
}

textarea{
    height: 90vh;
    width: 30vw;
    border: none;
    border-radius: 20px;
    padding: 10px;
    resize: none;
    overflow: auto;
    background-color: #D9D9E1;
    color: black;
    font-size: 18px;
}