body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

iframe{
    border-radius: 20px;
    width: 50vw;
    height: 90vh;
}

textarea{
    height: 90vh;
    width: 30vw;
    resize: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
}